:root {
	--black: #000000;
	--white: #ffffff;
	--pink: #0000ee; /*#ff7c94*/
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	scroll-behavior: smooth;
	font-family: "Muli", sans-serif;
}

body {
	font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (4600 - 300)));
	width: 100%;
	display: flex;
}

.background {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: black;
}

.cover-video {
	position: absolute;
	right: 50%;
	bottom: 50%;
	transform: translate(50%, 50%);
	min-width: 100%;
	min-height: 100%;

	opacity: 0;
	visibility: hidden;
}

.cover-video-visible {
	opacity: 1;
	visibility: visible;
}

.start-color-gradient {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

.start-logo-title-element {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 30%;
	max-width: 600px;
	min-width: 250px;
	cursor: pointer;

	filter: none;
	opacity: 0.7;
	transition: 0.2s ease-out;
}

.start-logo-title-element:hover {
	opacity: 1;
}

.start-logo-title-element img {
	position: relative;
	width: 100%;
}

.bottom-menu-wrapper {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 25%;
}

.bottom-menu-hidden {
	display: none;
	opacity: 0;
}

.lang-select-element {
	position: relative;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: inline-block;

	font-family: "Muli", sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	color: hsla(0, 0%, 100%, 0.7);
	text-transform: uppercase;
}

.lang-select-element a {
	text-decoration: none;
	color: var(--white);
	transition: animation 0.2s ease 0s opacity 0.2s;
	opacity: 0.7;
}

.lang-select-element a:hover {
	opacity: 1;
}

.bottom-menu-social {
	position: absolute;
	height: 2.8em;
	bottom: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.social-icon-element {
	position: relative;
	width: 1.7em;
	height: 1.7em;
	font-size: 0.8em;
}

.social-icon-element a {
	position: relative;
	width: 80%;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: inline-block;

	text-decoration: none;
	opacity: 0.8;
}

.social-icon-element a:hover {
	opacity: 1;
}

.social-icon-element svg {
	position: relative;
	width: 100%;
	height: 100%;
	display: inline-block;
}

.social-icon-element:first-child svg {
	left: 5px;
}

.social-icon-black a {
	color: var(--black);
}

.social-icon-white a {
	color: var(--white);
}

.slide-in-bottom {
	animation: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.5) 0s 1 normal none running slide-in-bottom;
}

@-webkit-keyframes slide-in-bottom {
	0% {
		bottom: -10%;
		opacity: 0;
		display: none;
	}

	100% {
		bottom: 0;
		opacity: 1;
		display: block;
	}
}

@keyframes slide-in-bottom {
	0% {
		bottom: -10%;
		opacity: 0;
		display: none;
	}

	100% {
		bottom: 0;
		opacity: 1;
		display: block;
	}
}

.cover-image {
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	opacity: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 2s;
}

.cover-image-visible {
	opacity: 1;
}

.description-gradient {
	position: fixed;
	display: block;
	width: 100%;
	height: 100%;
	top: 0%;
	left: 0%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.97));
	transition: 1s;
}

/**/

nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2.8em;

	display: flex;
	z-index: 1;
}

.light-nav {
	background: var(--white);
	color: var(--black);
}

.dark-nav {
	background: unset;
	filter: invert();
}

.social-icons-wrapper {
	position: relative;
	width: 15%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	padding-left: 1em;
}

.navigation-wrapper {
	position: relative;
	width: 85%;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}

.navigation-element {
	flex-grow: 1;
	text-align: center;

	font-family: "Muli", sans-serif;
	font-size: 0.8em;
	text-transform: uppercase;
}

.navigation-element a {
	color: var(--black);
	font-weight: 700;
	text-decoration: none;
	opacity: 0.7;
}

.navigation-element a:hover {
	opacity: 1;
}

.menu-wrapper {
	display: none;
}

/**/

section {
	position: relative;
	left: 0;
	width: 25%;
	flex-shrink: 0;
	height: 100vh;
}

.big-section {
	width: 28%;
}

.logo-dark {
	filter: invert();
}

.logo-title-element {
	position: relative;
	top: 8vh;
	left: 50%;
	transform: translate(-50%, 0);
	width: 70%;
}

.logo-title-element img {
	position: relative;
	width: 100%;
	opacity: 0.7;
}

.logo-title-element img:hover {
	opacity: 0.9;
}

/**/

main {
	position: relative;
	/*left: 20%;*/
	width: 70%;
	flex-grow: 1;
	padding-top: 8vh;
	padding-right: 5%;
}

.projects-list-wrapper {
	position: relative;
	display: inline-block;
	padding-bottom: 7%;
	margin-top: -1.5%;
	font-size: calc(16px + 6 * ((100vw - 320px) / 680));
}

.project-list-element {
	position: relative;
	float: left;
	width: 47%;
	margin: 1.5%;
	text-align: center;
	overflow: hidden;
}

.project-list-element img {
	position: relative;
	float: left;
	width: 100%;
	opacity: 1;
	transform: scale(1.1);
	transition: 0.4s;
}

.project-list-image-item:hover {
	opacity: 0.8;
	transform: scale(1);
	transition: 0.4s;
}

.project-list-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: 0.5s ease;
}

.project-list-element:hover .project-list-overlay {
	background: rgba(0, 0, 0, 0.15);
}

.project-list-element:hover .project-list-image-item {
	transform: scale(1);
	transition: 0.5s;
}

.project-list-project-title {
	color: #ffffff99;
	position: absolute;
	z-index: 9999;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 0.65em;
	font-weight: 600;
	transition: 0.5s ease;
}

/**/

.project-images-container {
	position: relative;
	display: block;
	width: 100%;

	overflow: hidden;
}

.project-image-element {
	position: relative;
	width: 100%;
}

.project-image-element img {
	display: block;
	width: 100%;
}

.project-video-element {
	position: relative;
	width: 100%;
}

.project-video-element iframe {
	position: relative;
	width: 100%;
	height: 100%;
}

.navigation-arrow {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	width: 2.3em;
	height: 3.2em;
	padding: 0.5em;
	z-index: 2;
}

.navigation-arrow-path {
	stroke: #ffffff80;
	stroke-width: 25;
	transition: 0.2s;
}
.navigation-arrow:hover .navigation-arrow-path {
	stroke: #ffffff;
}

.left-arrow {
	left: 2%;
}

.right-arrow {
	right: 2%;
}

.slick-dots {
	bottom: 5px;
}

.slick-dots li {
	margin: 0 2px;
}

.slick-dots li button::before {
	font-size: 8px;
	color: white;
}

.slick-dots li.slick-active button::before {
	color: white;
}

/**/

.project-title-container {
	padding-top: 1em;
	padding-bottom: 1.5em;
	text-transform: uppercase;
}

.project-title-container h2 {
	font-weight: 900;
}

.project-description-container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	padding-bottom: 21%;
}

.project-details {
	position: relative;
	padding-right: 10%;
	padding-bottom: 2.5em;
}

.project-details p {
	font-size: 0.85em;
	opacity: 0.7;
	font-family: "Chivo", sans-serif;
}

.project-text {
	position: relative;
	width: 75%;
	left: 25%;
}

.project-text p {
	line-height: 1.4em;
	font-family: "Chivo", sans-serif;
	opacity: 0.95;
}

.project-text strong {
	font-weight: 900;
	font-size: 0.8em;
	line-height: 0.5em;
}

/**/

.description-text {
	position: relative;
	display: inline-block;
	color: white;
	padding-right: 30%;
	top: 45%;
	transform: translate(0, -50%);
}

/**/

.about-wrapper {
	position: relative;
	width: 100%;
	padding-bottom: 21%;
}

.profiles-wrapper {
	position: relative;
	width: calc(100% - 5%);
	margin-right: 5%;
	display: flex;
	padding-bottom: 10%;
}

.profile-element {
	position: relative;
	width: 50%;
	margin: 1.5%;
	margin-top: 0;
}

.profile-picture {
	position: relative;
	width: 100%;
}

.profile-picture img {
	position: relative;
	width: 100%;
}

.profile-name-container {
	padding-top: 1em;
	padding-bottom: 1.5em;
	text-transform: uppercase;
}

.profile-name-container h2 {
	font-weight: 900;
}

/**/

.cls-1 {
	fill: none;
	stroke: #000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 2px;
	opacity: 0.7;
}

.cls-2 {
	fill: none;
	stroke: #000;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-width: 1.5px;
	opacity: 0.7;
}

/**/

.body-lock {
	overflow-y: hidden;
}

/**/

@media screen and (max-width: 1200px) {
	.start-logo-title-element {
		width: 30%;
		max-width: 600px;
	}

	.start-logo-title-element:hover {
		width: 31%;
		max-width: calc(600px * 1.02);
	}

	.navigation-element {
		font-size: 0.95em;
	}
}

@media screen and (max-width: 992px) {
	.start-logo-title-element {
		width: 30%;
	}

	.start-logo-title-element:hover {
		width: 31%;
	}
}

@media screen and (max-width: 768px) {
	.start-logo-title-element {
		width: 40%;
	}

	.start-logo-title-element:hover {
		width: 41%;
	}

	.bottom-menu-social {
		left: 1em;
		transform: unset;
	}
}

@media screen and (max-width: 600px) {
	nav {
		/* height: 2.8em; */
		height: 100vh;
		flex-direction: column-reverse;
		justify-content: space-evenly;
		align-items: center;
		align-content: space-around;
		opacity: 0.8;
		display: none;
	}

	.nav-visible {
		display: flex;
	}

	.navigation-wrapper {
		/* width: 85%; */
		/* flex-direction: row; */
		/* justify-content: center; */
		width: 100%;
		flex-direction: column;
		justify-content: space-evenly;
		height: 90%;
		z-index: 1;
	}

	.navigation-element {
		display: contents;
	}

	.social-icons-wrapper {
		width: unset;
		padding-left: unset;
	}

	.social-icon-element {
		/* width: 1.7em; */
		/* height: 1.7em; */
		/* font-size: 0.8em; */
		width: 2.2em;
		height: 2.2em;
		font-size: 0.9em;
		margin: 0.4em;
	}

	.navigation-element a {
		font-size: 1.5em;
		opacity: 1;
	}

	.menu-wrapper {
		position: fixed;
		top: 25px;
		left: 25px;
		display: block;
		width: 30px;
		z-index: 2;
	}

	.menu-control {
		display: block;
		width: 100%;
		height: 100%;
	}

	.menu-close {
		width: 80%;
	}

	.menu-open-hidden {
		display: none;
	}

	.menu-close-hidden {
		display: none;
	}

	.dark-nav {
		background: var(--white);
	}

	.dark-menu {
		stroke: var(--white);
	}

	/**/

	section {
		height: unset;
		width: 100%;
	}

	body {
		flex-direction: column;
	}

	.logo-title-element {
		top: unset;
		width: 44%;
		padding-top: 8vh;
	}

	main {
		padding-right: 0;
		width: 100%;
	}

	.project-text {
		left: 0;
		width: 100%;
	}

	.project-description-container {
		padding-left: 0.8em;
		padding-right: 0.8em;
	}

	.project-title-container {
		padding-left: 0.8em;
		padding-right: 0.8em;
	}

	.slick-slider {
		margin-bottom: 0;
	}

	/**/

	.start-logo-title-element {
		width: 55%;
	}

	.start-logo-title-element:hover {
		width: 56%;
	}

	.bottom-menu-social {
		left: 50%;
		transform: translate(-50%, 0);
	}

	/**/

	.big-section {
		width: unset;
	}

	main {
	}

	.description-text {
		top: unset;
		transform: unset;
		padding: 10%;
	}

	/**/

	.project-list-element {
		float: unset;
		width: unset;
	}

	/**/

	.profiles-wrapper {
		width: unset;
		margin-right: unset;
		flex-direction: column;
	}

	.profile-element {
		width: unset;
		padding-bottom: 10%;
	}

	.email-container {
		margin: 1.5%;
	}
}

@media screen and (min-width: 320px) {
}
