---
layout: main
---

<div class="about-wrapper">
	<div class="profiles-wrapper">
		<div class="profile-element">
			<div class="profile-picture">
				<img
					src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/bio-mariarojasarias.png"
				/>
			</div>
			<div class="profile-name-container">
				<h2>maría rojas arias</h2>
				{% if page.language == "en" %}
				<h5>visual artist, filmmaker, producer</h5>
				{% elsif page.language == "es" %}
				<h5>artista visual, cineasta, productora</h5>
				{% endif %}
			</div>
			<p class="profile-text">
				{% if page.language == "en" %} {% capture my_include %} {% include_relative
				/_bios/maria_en.md %} {% endcapture %} {{ my_include | markdownify }} {% elsif
				page.language == "es" %} {% capture my_include %} {% include_relative
				/_bios/maria_es.md %} {% endcapture %} {{ my_include | markdownify }} {% endif %}
			</p>
		</div>
		<div class="profile-element">
			<div class="profile-picture">
				<img
					src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/bio-andresjurado.png"
				/>
			</div>
			<div class="profile-name-container">
				<h2>andrés jurado</h2>
				{% if page.language == "en" %}
				<h5>artist, filmmaker, producer</h5>
				{% elsif page.language == "es" %}
				<h5>artista, cineasta, productor</h5>
				{% endif %}
			</div>
			<p class="profile-text">
				{% if page.language == "en" %} {% capture my_include %} {% include_relative
				/_bios/andres_en.md %} {% endcapture %} {{ my_include | markdownify }} {% elsif
				page.language == "es" %} {% capture my_include %} {% include_relative
				/_bios/andres_es.md %} {% endcapture %} {{ my_include | markdownify }} {% endif %}
			</p>
		</div>
	</div>
	<div class="email-container">
		<h2>lavulcanizadoraco@gmail.com</h2>
	</div>
</div>
