---
layout: base
---

{% include menu-mobile.html content="dark-menu" %} {% include navigation.html content="dark-nav" %}

<div class="background">
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-1.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/gh-pages/uploads/backgrounds/background-2.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-3.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-4.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-5.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-6.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-7.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-8.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-9.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-10.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-11.jpg"
	/>
	<img
		class="cover-image"
		src="https://raw.githubusercontent.com/lavulcanizadora/lavulcanizadora/main/uploads/backgrounds/background-12.jpg"
	/>
</div>

<div class="description-gradient"></div>
<div class="start-color-gradient"></div>

<section class="logo-title-wrapper big-section">
	<div class="logo-title-element" onclick="window.history.back()">
		<img src="{{ site.baseurl }}/uploads/logoblanco.png" />
	</div>
</section>

<main>
	<span class="description-text">{{ content }}</span>
</main>
