---
layout: main
---

<div class="projects-list-wrapper">
	<!--
	{% if page.language == "en" %} {% assign i = 0 %} {% for i in (0..site.projects.size) %} {% for
	project in site.projects %} {% if projects.order == i %}
	<li class="project-list-element">
		<a href="{{ project.url | prepend: site.baseurl}}">
			<img />
			<p>{{ project.title }}</p>
		</a>
	</li>
	{% endif %} {% endfor %} {% endfor %} {% elsif page.language == "es" %} {% assign i = 0 %} {%
	for i in (0..site.proyectos.size) %} {% for proyecto in site.proyectos %} {% if proyecto.order
	== i %}
	<li class="project-list-element">
		<a href="{{ proyecto.url | prepend: site.baseurl}}">
			<img />
			<p>{{ proyecto.title }}</p>
		</a>
	</li>
	{% endif %} {% endfor %} {% endfor %} {% endif %}
	-->
	
	{% if page.language == "en" %} {% for project in site.projects %}
	<div class="project-list-element">
		<a href="{{ project.url | prepend: site.baseurl }}">
			<img class="project-list-image-item" loading="eager" src="{{ project.cover }}" />
			<div class="project-list-overlay">
				<p class="project-list-project-title">{{ project.title }}</p>
			</div>
		</a>
	</div>
	{% endfor %} {% elsif page.language == "es" %} {% for proyecto in site.proyectos %}	
	<div class="project-list-element">
		<a href="{{ proyecto.url | prepend: site.baseurl }}">
			<img class="project-list-image-item" loading="eager" src="{{ proyecto.cover }}" />
			<div class="project-list-overlay">
				<p class="project-list-project-title">{{ proyecto.title }}</p>
				<p class="project-list-project-title">{{ proyecto.project_order }}</p>
			</div>
		</a>
	</div>
	{% endfor %} {% endif %}
</div>
