---
layout: main
---

<div class="project-images-container">
	{% assign images-length = page.images | size %} {% if images-length > 1 %}
	<!---->
	{% include left-arrow.html %} {% include right-arrow.html %}
	<!---->
	{% endif %}
	<div class="slick-carousel">
		{% for image in page.images %}
		<div class="project-image-element">
			{% if forloop.first %}
			<img src="{{ image.path }}" />
			{% else %}
			<img data-lazy="{{ image.path }}" />
			{% endif %}
		</div>
		{% endfor %} {% if page.video-url != null %}
		<div class="project-video-element">
			<iframe
				src="{{ page.video-url }}"
				allow="autoplay; fullscreen"
				allowfullscreen=""
				frameborder="0"
			></iframe>
		</div>
		{% endif %}
	</div>
</div>

<div class="project-title-container">
	<h2>{{ page.title }}</h2>
	<h5>{{ page.media }}</h5>
</div>

<div class="project-description-container">
	{% if page.details != null %}
	<div class="project-details">{{ page.details | markdownify }}</div>
	{% endif %}
	<div class="project-text">{{ content }}</div>
</div>
